body {
    font-family: 'Source Sans Pro', sans-serif;
}

#logo-container {
    font-family: 'Gloria Hallelujah', cursive;
}

#header-img {
    width: 10rem;
    height: auto;
}

.item-title {
    color: green;
    font-size: 2rem !important;
}

.item-desc{
    color:black;
    font-size: 1.3rem;
}
